<div class="d-flex flex-grow-1 flex-column my-4 giph-list" :class="{ 'giph-list-disabled': isLoading }">
    <!-- scrolling wrapper -->
    <div class="d-flex flex-grow-1 flex-column p-4 me-2 my-2 overflow-auto giph-list-scroll" @scroll="onScroll($event)">

        <!-- giph images -->
        <div class="d-flex flex-row flex-wrap justify-content-evenly giph-image-container">
            <div v-for="giph in giphs" :key="giph.id" :style="{ width: giph.width + 'px', height: giph.height + 'px' }" class="d-flex giph-image hand fadein-animation grow-on-hover" @click="select(giph)">
                <giph-image :giph="giph" class="d-flex flex-grow-1"></giph-image>
            </div>
        </div>

        <!-- empty placeholder -->
        <div class="d-flex flex-fill flex-column justify-content-center align-items-center my-2 light-gray" v-if="!isLoading && giphs?.length === 0">
            <span class="giphy-explorer text-center text-wrap fw-bold mb-4">giphy explorer</span>
            <icon-giph :size="200" />
        </div>
    </div>
</div>
