<div class="d-flex flex-fill justify-content-between align-items-center pager p-3" :class="{ 'pager-disabled': isLoading }">
    <span class="text-center" v-if="itemCount && totalItemCount">Displaying {{ itemCount }} of {{ totalItemCount }} giphs</span>
    <span v-else>&nbsp;</span>

    <div class="d-flex flex-row flex-wrap justify-content-center mx-4">
        <span class="text-center">giphy explorer</span>
        <span class="text-center mx-2">|</span>
        <span class="text-center"><a href="https://vuejs.org/">Vue.js</a> masterclass</span>
        <span class="text-center mx-2">|</span>
        <span class="text-center">By <a href="https://github.com/aljazsim">Aljaz Simonic</a> 2022</span>
        <span class="text-center mx-2">|</span>
        <span class="text-center">Powered by <a href="https://giphy.com/">Giphy</a></span>
    </div>
</div>